<html>
<head>
<title>SiMoN</title>
<link id="css" rel="stylesheet" type="text/css" href="styles.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>

<!-- responsive DIVs: https://codepen.io/anon/pen/wePWva -->
    <div id='gameStats' margin="10px">
      <div id="computer">---</div>
      <div id="player">---</div>
      <div id="compare">---</div>
      <br>
      <button id="test">test</button>
    </div>


<div id="simon">

 <div id="img">
      <center><img id="logo" src="simon.JPG" alt="sImOn"></center>
 </div>

<div class="popup">
  <span class="popuptext" id="myPopup">Game Over :(
  <h4>Save Score & Retry!</h4>
  <form>
    <input type="text" name="name" placeholder="enter name to delete">
    <button id="delButton">Submit</button>
  </form>
</span>
</div>

  <div id="head">
    <div id="status">
      <div id="staticText"><b>Round:</b></div>
      <div id="round">-</div>
      <div id="display">Press Start :)</div>
    </div>
</div>

<div id="buttons">
      <button id="start">start</button>
      <button id="reset">reset</button>
</div>

    <div id="container">
      <div class="box green">G</div>
      <div class="box red">R</div>
      <div class="box yellow">Y</div>
      <div class="box blue">B</div>
    </div>

  <footer id="footer">
    Coded & Designed by
    <a href="https://www.linkedin.com/in/arandazzo" target="_blank">
        Tony Randazzo</a>
  </footer>

</div>

<center>high scores</center>

<table class="score">
   <thread>
    	<tr>
    	  <th>Name</th>
    	  <th>Score</th>
    	  <th>Date</th>
    	</tr>
   </thread>

</table>
<br>
<div id="fail">Game Over!<br><span>Enter name to Save Score & Retry!</span></div>



<script src="main.js"></script>
</body>
</html>
