<html>
<head>
<title>CRUD</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
  <style type="text/css">
    table {
      margin: 0 auto;
      border: 2px solid green;
      font-size: 20px;
    }

    th {
      background: #a7bbe0;
      font-weight: bold;
      font-size:20px;
    }


    tr:nth-child(even) {
      background: #d4d4d4;
    }

    th, td {
      padding: 3.5px 10.5px;
}</style>

<center><h2>Manage High Scores DB</h2></center>
<hr>

<h4>Manually Add Score / Comment via Form</h4>
<form action="/score" method="POST">
    <input type="text" name="name" placeholder="enter name">
    <input type="hidden" name="score" id="myScore" value="">
    <button type="submit">Submit</button>
</form>

<h4>Change Score / Comment via Form</h4>
<form>
    <input type="text" id="changeName" name="name" placeholder="enter name">
    <input type="text" id="changeScore" name="score" placeholder="new score">
    <button id="update">Submit</button>
</form>
<div id="change">...</div>

<h4>Delete a Score / Comment via Form</h4>
<form>
    <input type="text" id="delForm" name="name" placeholder="enter name to delete">
    <button id="delButton">Submit</button>
</form>
<div id="del">...</div>

<hr>
<div class="hcButton">
  <button id="ajax" type="submit" onclick="sendAJAX(); return false;">AJAX</button>
  <b>Testing an Ajax Call</b>
  <div id="fts">...</div>
</div>
<hr>
<center><a href="/"><h2>Go Back to Game</h2></a></center>
<br>

<table class="score">
   <thread>
    	<tr>
    	  <th>Name</th>
    	  <th>Score</th>
    	  <th>Date</th>
    	</tr>
   </thread>
 <tbody>
    <% for(var i=0; i < score.length; i++) { %>
       <tr>
         <td><%= score[i].name %></td>
         <td><%= score[i].score %></td>
         <td><%= score[i].time %></td>
       </tr>
    <% } %>
 </tbody>
</table>
<br>
  <footer id="footer">
    <center>
      Coded & Designed by
      <a href="https://www.linkedin.com/in/arandazzo" target="_blank">
          Tony Randazzo</a>
    </center> 
  </footer>

<script src="/updateDB.js"></script>

</body>
</html>